body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.side-menu {
  position: absolute;
  right: 0px;
  width: 12%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
  padding: 1px;
  background-color: #FFFAF1;
}

.side-menu-enter, .side-menu-appear {
  position: absolute;
  right: 0px;
  width: 0%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
  padding: 1px;
  background-color: #FFFAF1;
}

.side-menu-enter-active, .side-menu-appear-active {
  width: 12%;
  transition: width 400ms;
}

.side-menu-exit {
  position: absolute;
  right: 0px;
  width: 12%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
  padding: 1px;
  background-color: #FFFAF1;
}

.side-menu-exit-active {
  width: 0%;
  right: -40px;
  transition: all 400ms;
}

.menu-button {
  background-color: #306304;
  color: #FFFAF1;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  height: 2%;
  width: 86%;
  border: 2px solid #306304;
  text-decoration: none;
  text-transform: uppercase;
}

.menu-button:hover {
  background-color: #FFFAF1;
  color: #306304;
  transition: all 400ms;
}

.close-button {
  text-align: right;
  margin: 2px;
}

.header-logo {
  float: left;
}

.header-link-list {
  float: right;
  margin: 0;
  padding: 0;
  list-style: none;
}

.banner {
  background-color: #FFFAF1;
}

.header {
  width: 90%;
  margin: auto;
  color: #306304;
}

.header::after {
  content: '';
  display: table;
  clear: both;
}

.header-link {
  display: inline-block;
  margin: 0 35px;
  padding-top: 0px;
}

.header-link a {
/*#444;*/
  color: #306304;
  text-decoration: none;
  text-transform: uppercase;
}

.header-link a:hover {
  color: #1f4201;
  transition: color 200ms;
}

.header-link a::before {
  height: 5px;
  width: 0%;
  display: block;
  content: '';
  background-color: #306304;
}

.header-link a:hover::before {
  background-color: #1f4201;
  width: 100%;
  transition: all 200ms;
}

.close-button {

}
/*
.game-list {
  margin: 10px;
  height: 10%;
  background-color: #6C809A;
  border-radius: 10px;
  overflow-y: scroll;
  word-wrap: break-word;
}

.game-list-enter, .game-list-appear {
  margin: 10px;
  height: 0%;
  background-color: #6C809A;
  border-radius: 10px;
  overflow-y: scroll;
  word-wrap: break-word;
}

.game-list-enter-active, .game-list-appear-active {
  height: 10%;
  transition: height 400ms;
}

.game-list-exit {
  margin: 10px;
  height: 10%;
  background-color: #6C809A;
  border-radius: 10px;
  overflow-y: scroll;
  word-wrap: break-word;
}

.game-list-exit-active {
  height: 0%;
  transition: all 400ms;
}*/
