body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.side-menu {
  position: absolute;
  right: 0px;
  width: 12%;
  height: 91%;
  overflow: hidden;
  z-index: 1;
  background: #FFFAF1;
}

.side-menu-enter, .side-menu-appear {
  position: absolute;
  right: 0px;
  width: 0%;
  height: 91%;
  overflow: hidden;
  z-index: 1;
  padding: 1px;
  background-color: #FFFAF1;
}

.side-menu-enter-active, .side-menu-appear-active {
  width: 12%;
  transition: width 400ms;
}

.side-menu-exit {
  position: absolute;
  right: 0px;
  width: 12%;
  height: 91%;
  overflow: hidden;
  z-index: 1;
  padding: 1px;
  background-color: #FFFAF1;
}

.side-menu-exit-active {
  width: 0%;
  right: -40px;
  transition: all 400ms;
}

.menu-button {
  background-color: #568203;
  color: #FFFAF1;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  height: 2%;
  width: 86%;
  border: 2px solid #568203;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 95%;
}

.menu-button:hover {
  background-color: #FFFAF1;
  color: #568203;
  transition: all 400ms;
  cursor: pointer;
}

.close-button {
  text-align: right;
  margin: 2px;
  cursor: pointer;
}

.header-logo {
  float: left;
}

.header-link-list {
  float: right;
  margin: 0;
  padding: 0;
  list-style: none;
}

.banner {
  background: linear-gradient(35deg, #FFFAF1 20%, #568203 20%);
}

.header {
  width: 90%;
  margin: auto;
  color: #568203;
}

.header::after {
  content: '';
  display: table;
  clear: both;
}

.header-link {
  display: inline-block;
  margin: 0 35px;
  padding-top: 0px;
}

.header-link a {
  color: #FFFAF1;
  text-decoration: none;
  text-transform: uppercase;
}

.header-link a:hover {
  color: #1f4201;
  transition: color 200ms;
}

.header-link a::before {
  height: 5px;
  width: 0%;
  display: block;
  content: '';
  background-color: #568203;
}

.header-link a:hover::before {
  background-color: #1f4201;
  width: 100%;
  transition: all 200ms;
}

.close-button {
  margin-left: auto;
  margin-right: 0;
  font-size: 30px;
  width: 50%;
  color: #FFFAF1;
  background: linear-gradient(35deg, #FFFAF1 40%, #568203 40%);
  transform: translate(3px,-5px);
  display: block;
  z-index: inherit;
  padding-top: 5px;
  padding-right: 10px;
}

.close-button:hover {
  background: linear-gradient(35deg, #FFFAF1 40%, #1f4201 40%);
  width: 90%;
  transition: width 400ms;
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #0000004D;
  z-index: 2;
}

.shadow-enter, .shadow-appear {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #0000004D;
  z-index: -2;
  opacity: 0;
}

.shadow-enter-active, .shadow-appear-active {
  z-index: 2;
  opacity: 1;
  transition: all 100ms;
}

.shadow-exit {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #0000004D;
  z-index: 2;
  opacity: 1;
}

.shadow-exit-active {
  z-index: -2;
  opacity: 0;
  transition: all 100ms;
}

.popup-menu {
  height: 425px;
  width: 350px;
  position: absolute;
  top: 40vh;
  right: 40vw;
  text-align: center;
  margin: auto;
  background-color: #454F31;
  border-radius: 20px;
  z-index: 3;
  overflow: hidden;
  box-shadow: 0 0 3em rgba(0,0,0,0.15);
}

.popup-menu-enter, .popup-menu-appear {
  height: 425px;
  width: 350px;
  position: absolute;
  top: 40vh;
  right: 40vw;
  text-align: center;
  margin: auto;
  background-color: #454F31;
  border-radius: 20px;
  z-index: -1;
  overflow: hidden;
  opacity: 0;
}

.popup-menu-enter-active, .popup-menu-appear-active {
  z-index: 3;
  opacity: 1;
  transition: opacity 100ms;
}

.popup-menu-exit {
  height: 425px;
  width: 350px;
  position: absolute;
  top: 40vh;
  right: 40vw;
  text-align: center;
  margin: auto;
  background-color: #454F31;
  border-radius: 20px;
  z-index: -1;
  overflow: hidden;
  box-shadow: 0 0 3em rgba(0,0,0,0.15);
}

.popup-menu-exit-active {
  z-index: -1;
  opacity: 0;
  transition: all 100ms;
}

.popup-menu .menu-title {
  width: 100%;
  color: #FFFAF1;
  padding-top: 30px;
  padding-bottom: 20px;
  font-size: 30px;
  font-weight: bolder;
}

.popup-menu form{
  background-color: #FFFAF1;
  height: 100%;
  padding-top: 5px;
}

.popup-menu form #time {
  width: 80%;
  height: 40px;
  margin-top: 2px;
  margin-right: 55px;
}

.popup-menu form #players {
  width: 80%;
  height: 40px;
  margin-top: 2px;
  margin-right: 55px;
}

.popup-menu h3 {
  margin-top: 20px;
  margin-bottom: 5px;
  text-align: left;
}

.popup-menu .menu-button {
  height: 20px;
  width: 80%;
  position: absolute;
  left: 6.5%;
  bottom: 10px;
}

.ref-button #ref {
  cursor: pointer;
  height: 30px;
  width: 30px;
  margin-right: 12%;
  margin-bottom: 20px;
}

.join-game {
  padding-left: 6.5%;
  height: 70%;
  overflow: scroll;
}

.join-list {
  height: 80%;
  width: 80%;
  background-color: #FFFAF1;
  border-radius: 20px;
  list-style: none;
  text-align: left;
}

.join-list li {
  margin-left: 0%;
}

.game-item {
  cursor: pointer;
}