.side-menu {
  position: absolute;
  right: 0px;
  width: 20%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
  padding: 1px;
  background-color: #FFFAF1;
}

.side-menu-enter, .side-menu-appear {
  position: absolute;
  right: 0px;
  width: 0%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
  padding: 1px;
  background-color: #FFFAF1;
}

.side-menu-enter-active, .side-menu-appear-active {
  width: 20%;
  transition: width 400ms;
}

.side-menu-exit {
  position: absolute;
  right: 0px;
  width: 20%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
  padding: 1px;
  background-color: #FFFAF1;
}

.side-menu-exit-active {
  width: 0%;
  right: -40px;
  transition: all 400ms;
}
.menu-button {
  background-color: #66983C;
  color: #F9FCE6;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  margin: 10px;
  height: 20px;
  width: 160px;
}
